body {
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

pre {
  font-size: 7em;
}

.tick line {
  stroke: #C0C0BB;
}

.tick text {
  fill: #797776;
}

.legend line {
  stroke: #C0C0BB;
}

.legend text {
  fill: #797776;
  cursor: pointer;
}

/* .mark {
  fill: #137B80;
} */

.axis-label {
  font-size: 2em;
  fill: #635F5D;
  /* background-color: black; */
}

.mark-info {
  font-size: 1em;
  fill: #635F5D;
  /* background-color: white; */
}